In [41]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [39]:
books=[]
for i in range(1,51):
    url=f'https://books.toscrape.com/catalogue/page-{i}.html'
    response=requests.get(url)
    response=response.content
    soup=BeautifulSoup(response,'lxml')
    ol=soup.find('ol')
    articles=ol.find_all('article',class_='product_pod')
    for article in articles:
        image=article.find('img')
        title=image.attrs['alt']
        star=article.find('p')
        star=star['class'][1]
        price=article.find('p',class_='price_color').text
        price=float(price[1:])
        books.append([title,star,price])

In [42]:
df=pd.DataFrame(books,columns=['Title','Star rating','Price'])

In [43]:
df.head()

                                   Title Star rating  Price
0                   A Light in the Attic       Three  51.77
1                     Tipping the Velvet         One  53.74
2                             Soumission         One  50.10
3                          Sharp Objects        Four  47.82
4  Sapiens: A Brief History of Humankind        Five  54.23

In [44]:
df.shape

(1000, 3)

In [45]:
df.to_csv('books.csv')